# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other info
*.log

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.iml

# Vanna AI specific files
.vanna/

.env
